@use 'src/variables';
@use 'src/media';

.main__text {
    font-size: variables.$desktop-font-size;
    color: #04060f;
    font-weight: 700;
    background-color: whitesmoke;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    margin: 24px 24px 0 24px;
}

.highlight_text {
    border: 0.06em solid whitesmoke;
    display: inline-block;
    line-height: 1em;
    border-radius: 2em;
    padding-left: 0.3em;
    padding-right: 0.3em;

    &:hover {
        color: white;
        cursor: pointer;
    }
}


.main__text__img {
    display: inline-block;
    position: relative;
    width: 1em;

    &.bezos {
        vertical-align: sub;
    }

    &.moscow {
        vertical-align: middle;
    }
}

@include media.for-mobiles {
    .main__text {
        font-size:  7vw;
        margin: 12px 12px 0 12px;
        padding: 0 12px 0 12px;
    }
    .main__titles {
        font-size: variables.$mobile-font-size;
    }
}
