@use 'src/variables';
@use 'src/media';

.section {
    margin-top: 24px;
}

.card {
    font-size: variables.$desktop-font-size;
    font-weight: 700;
}

.images {
    display: inline-block;
    position: relative;
    width: 1em;

    &.bezos {
        vertical-align: sub;
    }

    &.moscow {
        vertical-align: middle;
    }
}

@include media.for-mobiles {
    .section {
        margin-top: 12px;
    }
    .card {
        font-size:  7vw;
    }
}
