@use 'src/variables';
@use 'src/media';

.title {
    & span {
        background-color: #ff5d8f;
    }
}

.card_company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5em;
    border: 3px solid whitesmoke;
    border-radius: 1.5em;
    width: 400px;
    height: 500px;
    transition: border-color 0.2s ease, transform 0.5s ease, background-image 0.3s ease;
    cursor: pointer;

    &:nth-child(3n + 1) {
        justify-self: flex-start;
    }

    &:nth-child(3n) {
        justify-self: flex-end;
    }

    & .skill {
        white-space: nowrap;
    }

    &.undefined_company {
        font-size: 2em;
        text-align: center;
        justify-content: center;
        color: rgba(20, 20, 55, 0.8) !important;
        background-image: linear-gradient(
                        45deg,
                        hsl(200deg 37% 97%) 0%,
                        hsl(197deg 47% 97%) 7%,
                        hsl(198deg 71% 97%) 20%,
                        hsl(191deg 85% 97%) 55%,
                        hsl(190deg 100% 98%) 100%
        );
        border-color: white;
    }

    &:hover {
        border-color: white;
        color: white;
        transform: scale(0.98);

        & .images_companies {
            filter: saturate(1);
            opacity: 1;
        }

        & .skill {
            border-color: white;
        }

        & .work_experience {
            color: white;
        }

        &.ozon {
            background-color: #ff0a54;
        }

        &.cs_money {
            background-color: #7668cb;
        }

        &.nnl {
            background-color: #ffd166;
        }

        &.slotex {
            background-color: #353535;
        }
    }
}

.work_experience {
    font-size: 1.5em;
    letter-spacing: -0.05em;
    margin-top: 18px;
    margin-bottom: 16px;
    color: rgb(170, 170, 170, 0.8);
}

.companies_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: flex-start;
    max-width: 1440px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    row-gap: 6em;
}

.images_companies {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    filter: saturate(0);
    opacity: 0.5;
    width: 150px;
    height: 40px;

    &.nnl {
        width: 100px;
    }
}

@include media.for-small-notebook {
    .companies_cards {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4vw;
    }

    .card_company {
        &:nth-child(2n + 1) {
            justify-self: flex-end;
        }

        &:nth-child(2n) {
            justify-self: flex-start;
        }
    }
}

@include media.for-mobiles {
    .companies_cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2vw;
    }

    .card_company {
        width: 100%;
        height: fit-content;
        min-height: 350px;

        &.cs_money {
            & .images_companies {
                width: 20vw;
            }
        }

        &.undefined_company {
            font-size: 3.5vw;
            align-items: center;
            h2 {
                width: 70%;
            }
        }

        & .skill {
            font-size: 5vw;
        }
    }

    .images_companies {
        width: 17vw;
        height: fit-content;
    }

    .work_experience {
        font-size: 3.5vw;
    }
}

@include media.for-small-mobiles {
    .work_experience {
        font-size: 4.5vw;
    }

    .card_company {
        & .images_companies {
            width: 25vw;
        }

        &.cs_money {
            & .images_companies {
                width: 30vw;
            }
        }

        &.nnl {
            & .images_companies {
                width: 20vw;
            }
        }

        &.undefined_company {
            font-size: 5vw;
        }

        & .skill {
            font-size: 6vw;
        }
    }
}
