.nnl {
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
        box-shadow: 0px 0px 60px 0px rgba(204, 0, 0, 0.5);
    }
    background: rgb(1,18,53);
    background: linear-gradient(60deg, #007891, #cc0000);
}

.logo {
    display: block;
    width: 35vw;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
