@use 'src/variables';
@use 'src/media';

.title {
    font-size: variables.$desktop-font-size;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1em;

    & span {
        display: inline-block;
        vertical-align: middle;
        border-radius: 0.8em;
        line-height: 0.9em;
        padding: 0 .3em;
    }
}

@include media.for-mobiles {
    .title {
        font-size: variables.$mobile-main-title-font-size;
    }
}
