@use 'src/media';

.page_content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.post_title {

}

.post_text {
    max-width: 692px;
    margin-left: auto;
    margin-right: auto;
}

@include media.for-mobiles {
    .post_title {
        margin-left: 12px;
        margin-right: 12px;
    }
}
